.btn a {
    text-decoration: none;
    color: white;
}

form p {
    float: right;
}

.auth_form {
    width: 400px;
    height: 260px;
    margin: 100px auto 0;
    border: 2px solid;
    border-radius: 10px;
}

.auth_form form{
    width: 240px;
    margin: 0 auto;
}

.auth_form h2, .registration_form h2{
    text-align: center;
}

.auth_form form .btn-submit{
    margin-left: 30px;
    margin-right: 10px;
}

.registration_form {
    width: 450px;
    height: 450px;
    margin: 50px auto 0;
    border: 2px solid;
    border-radius: 10px;
}

.registration_form form{
    width: 300px;
    margin: 0 auto;
}

.registration_form .btn-submit{
    margin-left: 75px;
}